* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Tilt Warp', cursive;
    color: #fff;
    font-size: 2.5em;
    text-align: center;
}


main section {
    height: 30vw;
}

main section:nth-of-type(1) {
    background-color: #F4442E;
}

main section:nth-of-type(2) {
    background-color: #FC9E4F;
}

main section:nth-of-type(3) {
    background-color: #EDD382;
}

footer {
    background-color: #020122;
}

/* LAB 6 - START HERE */

/* Step One - recreate the layout featured in the lab instructions using floats and clear 

        1.) use floats to align the section elements side by side */
/*
main section {
    float: left;
}
*/

/*2.) use the clear property to fix the footer position 

footer {
    clear: both;
}
*/


/* 3.) return to the section style rule and set section elements to 33.3% width
     section{
          width: 33.3%;
}
             */
/* Step Two - move footer outside of the main element and recreate he layout, ensuring that main element has a height*/
main section {
    float: left;
    width: 33.3%;
}

main section+section {
    float: left;
}

main {
    height: 27vh;
}


/*Step Three - with the footer still outside of main, recreate the layout using Flexbox

main{
   display: flex;    
}

section{
     width: 33.3%;  
}
*/

/*i did not do the bonuses so i removed the comments for them*/